.new-game{
    height: 100vh;
    display: flex;
    flex-direction: column ;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    font-size: 50px;
}
header>h1{
    margin-top: 100px;
}

.new-game__game-screen{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 10vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new-game__difficulty{
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    margin-top: 20%;
    width: 70%;
    justify-content: space-between;
    cursor: default;
    user-select: none;
}
.difficulty-levels{
    background-color: black;
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.start-game-button{
    margin-top: 50%;
    width: 30%;
    background-color: blue;
    height: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.start-game-button>button{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
}


.in-game{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-game{
    width: 50vh;
    height: 50vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
    border: solid 4px white;
}

.under-game-section{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    width: 50vh;
}
 .score-div{
    color: white;
    font-size: 18px;
 }
.button-outter{
    background-color: green;
    width: 40px;
    height: 20px;
    display: flex;
}
.button-inner{
    width:50%;
    height: 100%;
    background-color: white;
}
.keyboard-input{
    transition: smooth 1s;
    justify-content: flex-start;
}
.mouse-input{
    transition: smooth 1s;
    justify-content: flex-end;
}








 .end-game-text-box{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-top: 10vh;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 250px;
}

.end-game-text-box>h1{
    color: black;
    font-size: 40px;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 20px;
}

.end-game-text-box>button{
    background-color: black;
    height:20%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}










.hidden {
    display: none;
}